name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18
        uses: actions/setup-node@v6
        with:
          node-version: 18.20.8
      - name: Install dependencies
        run: yarn install --production=false
      - name: Run Jest
        run: yarn test:ci
        env:
          CI: true
      - name: Run Linting
        run: yarn lint
